---
import Profile from "../Componentes/Profile.svelte";
---
  <div class="border-2 flex justify-between w-screen">
    <div class="flex px-6 py-4 w-screen justify-between">
      <div class="flex justify-normal">
        <div>
          <a class="py-2 flex gap-1 font-semibold" href="http://localhost:4321/">
            <img
              class="w-auto h-6 sm:h-7 mr-2"
              src="/sportify-favicon.svg"
              alt="Sportify"
            /><span>Sportify®</span>
          </a>
        </div>
        

        <div class="mx-8">
          <div class="flex">
            <a
              href="http://localhost:4321/torneo"
              class="px-2 py-2 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center">
              <img src="1414791.svg" alt="Torneos" class="w-6 h-6 mr-1" />
              Torneos
            </a>
            <a
              href="http://localhost:4321/noticias"
              class="px-2 py-2 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center">
              <img src="/147716.svg" alt="Noticias" class="w-6 h-6 mr-1" />
              Noticias
            </a>
            <a
              href="http://localgost:4321/foros"
              class="px-2 py-2 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center">
              <img src="/309417.svg" alt="Foros" class="w-6 h-6 mr-1" />
              Foros
            </a>
          </div>
        </div>
        
      </div>
      <div>
        <Profile client:load /> 
      </div>
    </div>
  </div>
</nav>