---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/sportify-favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-stone-800">
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus totam laboriosam quidem! Doloremque quidem atque, laborum exercitationem, corporis accusamus neque molestias nihil laudantium enim itaque eligendi cumque vel. Eveniet, fuga.</p>
		<slot />
	</body>
</html>