---

import Formequipos from "../Componentes/Formequipos.svelte";
import Layout from "../layouts/Visualizacion.astro"

---
<Layout title="Registra tu equipo | Sportify">
    <div class="flex flex-col justify-between items-center w-auto h-auto my-auto py-8 px-16 bg-light-background dark:bg-dark-background border rounded-lg border-light-border dark:border-dark-border">
        <header class="my-6">
            <h1 class="font-semibold text-4xl">Registra tu equipo</h1>
        </header>
        <Formequipos client:only/>
    </div>
</Layout>

<script>
    export default {
        data() {
            return {
                nombre: '',
                email: '',
                password: ''
            };
        },
        methods: {
            submitForm() {
                // Aquí puedes enviar los datos del formulario al servidor o realizar otras acciones según tus necesidades
                console.log('Datos enviados:', this.nombre, this.email, this.password);
            }
        }
    };
</script>