---
import TableTorneo from "../Componentes/TableTorneos.svelte";
import Layout from "../layouts/Acceso.astro"
import getData from "../Componentes/TableTorneos.svelte";
---

<Layout title="Sportify">
    <body>
        
        <div class="fixed flex-row justify-between w-full h-auto py-8 px-16 top-0 bg-white-100 dark:bg-stone-950 border rounded-lg border-gray-300 dark:border-black">
            <header class="my-0">
                <h1 class="font-semibold text-4xl">Creacion de Torneo</h1>
            </header> 

            <aside class="flex flex-col gap-1 my-4">
                <span class="text-l font-medium ">
                    En esta ventana podrás crear los torneos que necesites, además de poder visualizar tu historial de torneos creados!
                </span>
            </aside>

            <button class="w-36 bg-green-600 text-black mt-6 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
                Crear Torneo
            </button>

        </div>

        <TableTorneo/>
        

    </body>
</Layout>