---
import FormEditData from "../Componentes/FormEditData.svelte";
import Layout from "../layouts/Acceso.astro"
---

<Layout title="Edita tus datos | Sportify">
    <div class="flex flex-col justify-between items-center w-auto h-auto my-auto py-8 px-16 bg-gray-100 dark:bg-stone-950 border rounded-lg border-gray-300 dark:border-black">
        <header class="my-6">
            <h1 class="font-semibold text-4xl">Edita tus datos</h1>
        </header>
        <FormEditData client:only/>   
    </div>
</Layout>