---
import Layout from "../layouts/Visualizacion.astro"
import FormFormularioForo from "../Componentes/FormFormularioForo.svelte";

---
<Layout title="Crear Foro | Sportify">
    <div class="flex flex-col justify-between items-center w-auto h-auto my-auto py-8 px-16 bg-gray-100 dark:bg-stone-950 border rounded-lg border-gray-300 dark:border-black">
        <header class="my-6">
            <h1 class="font-semibold text-4xl">Crear Foro</h1>
        </header> 
        <FormFormularioForo client:load />
    </div>
</Layout>
