---
import Layout from "../layouts/Visualizacion.astro"
import Notificacion from "../Componentes/Notificacion.svelte"
import EnviarNotificacion from "../Componentes/EnviarNotificacion.svelte"
---

<Layout title="Sportify">
    <body>
        <EnviarNotificacion client:only />
        
    </body>
</Layout>