---
import Layout from "../layouts/Visualizacion.astro"

import Notificacion from "../Componentes/Notificacion.svelte"
import EnviarNotificacion from "../Componentes/EnviarNotificacion.svelte"
import PerfilEquipo from "../Componentes/PerfilEquipo.svelte"
---

<Layout title="Sportify">
    <body>
        <h1>hola</h1>
        <EnviarNotificacion client:only />
    </body>
</Layout>