---
import Layout from "../layouts/Visualizacion.astro"
import Notificacion from "../Componentes/Notificacion.svelte"
import EnviarNotificacion from "../Componentes/EnviarNotificacion.svelte"
import PerfilEquipo from "../Componentes/PerfilEquipo.svelte"

---

<Layout title="Sportify">
    <body>
        <h1>Astro</h1>
        <Notificacion client:only />
        <EnviarNotificacion client:only />
        <a href="/editData">
            Edita tus datos
        </a>
        <PerfilEquipo client:only />
    </body>
</Layout>