---
import Layout from "../layouts/Visualizacion.astro"
import FormIntegrantes from "../Componentes/FormIntegrantes.svelte";
---

<Layout title="Agregar Jugador | Sportify">
    <div class="flex justify-center">
        <div class="flex flex-col justify-between items-center w-1/2 h-auto my-auto py-8 px-16">
            <header class="my-6">
                <h1 class="font-semibold text-4xl">Agregar Jugador</h1>
            </header> 
            <FormIntegrantes client:load />
        </div>
    </div>
</Layout>
