---
import Layout from "../layouts/Acceso.astro"
import Formlogin from "../Componentes/FormLogin.svelte";
---


<Layout title="login | Sportify">
    <div class="flex flex-col justify-between items-center w-auto h-auto my-auto py-8 px-16 bg-light-background dark:bg-dark-background border rounded-lg border-light-border dark:border-dark-border">
        <header class="my-6">
            <h1 class="font-semibold text-4xl">Bienvenido</h1>
        </header> 
       <Formlogin client:only /> 
        <aside class="flex flex-col items-center gap-1 mt-2">
            <a href="#" class="text-sportify text-xs font-medium hover:underline">
                ¿Olvidaste tu contraseña?
            </a>
            <a href="/register" class="text-xs font-medium hover:underline">
                Registrarse
            </a>
        </aside>
    </div>
</Layout>