---
import Layout from "../layouts/Visualizacion.astro"
---

<Layout title="Login">
    
    <div class="flex justify-center items-center h-screen bg-no-repeat bg-auto " style="background-image: url('/voleibol-piso-deportista.png');">
        <div class="w-full max-w-sm p-6 m-auto mx-auto bg-gray-200 rounded-lg shadow-md dark:bg-black">
            <div class="flex justify-center mx-auto">
                <div class="flex justify-center mt-6">
                    <h1 class="font-bold text-4xl">Bienvenido</h1>
                </div>
        </div>
    
        <form class="mt-6 pb-8">
            <div class="mb-4">
                <label for="username" class="block text-sm text-gray-800 dark:text-gray-200"></label>
                <input id="user" type="text" placeholder="Correo electrónico" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-green-500 rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" />
            </div>
    
            <div class="mt-4">
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm text-gray-800 dark:text-gray-200"></label>
                </div>
                <input id="psw" type="password" placeholder="Contraseña" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg border-green-500 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" />
            </div>
    
            <div class="mt-6">
                <button id="login" class="w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-all duration-300 transform bg-green-600 rounded-lg hover:scale-105 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
                    Ingresar
                </button>
            </div>
        </form>
        <p class="mt-8 text-xs font-light text-center text-green-500"> ¿Olvidaste tu contraseña? <a href="#" class="font-medium text-gray-700 dark:text-gray-200 hover:underline">
            <a href="#" class="text-xs text-black dark:text-gray-400 hover:underline">Registrarse</a>
    </div>
</Layout>


<script>

    var data={
        user:"",
        pass:"",
    }

    var btn = document.getElementById("login").addEventListener('click', async (event)=>{

        var username = document.getElementById("user") as HTMLInputElement;
        var password = document.getElementById("psw") as HTMLInputElement;    

        data.user= username.value,
        data.pass= password.value

    try{
        const response = await fetch('http://localhost:3000/');
        console.log(response+ " jolaaaaa");

        if(!response.ok)
            throw new Error('Error al obtener los datos del servidor');
        
        const rows = await response.json();
        console.log('Datos recibidos:', rows);
    }

    catch(error){
        console.error('Error:', error);
    }

    });

    

    


</script>