---
import Visualizacion from "../layouts/Visualizacion.astro";
---

<Visualizacion title="Noticias" >

        <h1 class="text-3xl text-center ">404 Esta página aún no está lista, vuelve pronto </h1>

</Visualizacion>