---
import Layout from "../layouts/Visualizacion.astro"
---
<Layout title="perfilEquipo">
    <div class="p-6 w-full mb-12">
        <div class="flex items-center mb-12 justify-center ">
            <!-- Foto de perfil del equipo a la izquierda -->
            <img src="../public/40770.svg" class="w-20 h-20 p-1 rounded-full border-4 border-light-border dark:border-white shadow-md mr-12 justify-center">
            <!-- Nombre del Equipo centrado con marco -->
            <h2 class="text-3xl font-bold text-center border-b-2 border-light-border dark:border-white text-light-text dark:text-white pb-2 mb-1 flex-grow">Utal-k.O</h2>
            <!-- Deporte a la derecha -->
            <p class="text-lg text-rigth flex-shrink-0 ml-12 text-light-text dark:text-white">Taekwondo</p>
        </div>
        <!-- Descripci칩n del torneo -->
        <p class="text-lg text-center mb-6 text-light-text dark:text-white">Esto es una descripci칩n detallada del equipo en cuestion </p>
        <!-- Nombre del Staff en un rect치ngulo con foto peque침a a la izquierda -->
        <div class="flex items-center justify-end mb-8">
            <div class="flex-shrink-0 ml-4">
                <img src="../public/2098873.svg" class="w-20 h-20 p-1 rounded-full border-4 border-light-border dark:border-white mr-4 shadow-md">
            </div>
            <div class="text-light-text bg-white p-2 rounded-lg">
                <p class="text-lg font-semibold">Vejat Olea</p>
                <p class="text-base">Staff</p>
            </div>
        </div>
    </div>
</Layout>

