---

import Formregister from "../Componentes/Formregister.svelte";
import Layout from "../layouts/Acceso.astro"

---

<Layout title="Registrarse | Sportify">
    <div class="flex flex-col justify-between items-center w-auto h-auto my-auto py-8 px-16 bg-light-background dark:bg-dark-background border rounded-lg border-light-border dark:border-dark-border">
        <header class="my-6">
            <h1 class="font-semibold text-4xl">Registro</h1>
        </header>
        <Formregister client:load/>
        <aside class="flex flex-col items-center gap-1 mt-2">
            <p class="text-sportify text-xs font-medium">
                ¿Ya tienes una cuenta?
            </p>
            <a href="/login" class="text-xs font-medium hover:underline">
                Iniciar Sesión
            </a>
        </aside>
    </div>
</Layout>

<script>
    export default {
        data() {
            return {
                nombre: '',
                email: '',
                password: ''
            };
        },
        methods: {
            submitForm() {
                // Aquí puedes enviar los datos del formulario al servidor o realizar otras acciones según tus necesidades
                console.log('Datos enviados:', this.nombre, this.email, this.password);
            }
        }
    };
</script>