---
import Layout from "../layouts/Visualizacion.astro"
import FormBases from "../Componentes/FormBases.svelte"
---

<Layout title="test | Sportify">
    <div class="absolute top-0 bottom-0 w-full bg-black opacity-40"></div>
    <div class="absolute top-0 bottom-0 w-full">
        <div class="flex justify-center items-center w-full h-full">
            <div class="w-1/2 bg-stone-800 rounded-md">
                <FormBases />
            </div>
        </div>
    </div>
</Layout>