---
import Layout from "../layouts/Acceso.astro"
import FormBases from "../Componentes/FormBases.svelte"
---

<Layout title= "Gestion de torneos | Sportify">
  <div class="flex justify-evenly items-center mt-8 w-full text-nowrap">
    <div class="flex flex-col md:flex-row gap-2">
      <FormBases client:load/>
      <button type="button" class="px-4 py-2 font-medium text-white transition-all duration-300 transform bg-green-600 rounded-lg hover:scale-105" onclick="cambiarDatos()">Cambiar Datos</button>
      <button type="button" class="px-4 py-2 font-medium text-white transition-all duration-300 transform bg-green-600 rounded-lg hover:scale-105" onclick="invitaEquipo()">Invitar Equipo</button>
      <button type="button" class="px-4 py-2 font-medium text-white transition-all duration-300 transform bg-green-600 rounded-lg hover:scale-105" onclick="verCondiciones()">Condiciones</button>
    </div>
    <div class="flex">
      <input type="text" placeholder="Invitar un equipo al torneo" class="px-4 py-2 border rounded-lg">
    </div>
  </div>

  <div class="mt-8 p-4 rounded-lg border border-gray-300">
    <img src="/brackets.jpg" alt="Brackets del torneo" class="w-1/2 h-auto mx-auto">
    <!-- Aquí irán los brackets de torneos -->
  </div>
  <!-- 
  <script>
    function cambiarBases() {
      // Colocar lógica bases
      console.log("Cambiar bases");
    }

    function cambiarDatos() {
      // Colocar lógica datos
      console.log("cambiar datos");
    }

    function invitaEquipo() {
      // Colocar logica de invitación
      console.log("Invitar equipo");
    }

    function verCondiciones() {
      // Agregar condiciones
      console.log("Ver condiciones");
    }
  </script>
  -->
</Layout>