---
import Layout from "../layouts/Visualizacion.astro";
import FormBases from "../Componentes/FormBases.svelte";
import BotonInvitar from "../Componentes/BotonInvitar.svelte";
import BuscadorEquipos from "../Componentes/buscadorEquipos.svelte";
import DatosTorneo from "../Componentes/DatosTorneo.svelte"
import Bracket from "../Componentes/Bracket.svelte";
import FormClasificatoria from "../Componentes/FormClasificatoria.svelte";
---

<Layout title="Gestion de torneos | Sportify">
  <header class="flex justify-between items-center px-10 py-6 w-full text-nowrap border-b border-light-border dark:border-dark-border">
    <div class="flex flex-col md:flex-row gap-2">
      
      <FormClasificatoria client:load/>
      
      <FormBases client:load />
      <button
        type="button"
        class="px-4 py-2 font-medium text-dark-text transition-all duration-300 transform bg-sportify rounded-lg hover:bg-sportifyhover"
        onclick="cambiarDatos()">Cambiar Datos</button
      >
      <!-- se debe enviar el nombre del equipo del torneo, el nombre del equipo deberia ser del equipo seleccionado, el del torneo deberia ser el seleccionado -->
      <button
        type="button"
        class="px-4 py-2 font-medium text-dark-text transition-all duration-300 transform bg-sportify rounded-lg hover:bg-sportifyhover disabled:cursor-not-allowed disabled:bg-gray-300"
        onclick="verCondiciones()">Condiciones</button
      >
    </div>
    <BuscadorEquipos client:only />
  </header>
  <DatosTorneo nombreTorneo="Torneo1" client:only />
  <Bracket client:only />
</Layout>
