---
import Layout from "../layouts/Visualizacion.astro"
---

<Layout title="Bienvenido | Sportify">
    <body>
        <h1>Bienvenido usuario</h1>
        <aside class="flex flex-col items-center gap-1 mt-2">
            <button id="editdatos" class=" bg-sportify hover:bg-dark-background text-white font-bold py-2 px-4 rounded-full">
                Edita tus datos
            </button>
        </aside>
    </body>
</Layout>

<script>
    const editdatos = document.getElementById('editdatos');
    editdatos.addEventListener('click', () => {
        window.location.href = '/editData';
    });
</script>