---
import Layout from "../layouts/Visualizacion.astro"
import Notificacion from "../Componentes/Notificacion.svelte"
import EnviarNotificacion from "../Componentes/EnviarNotificacion.svelte"
import UserProfile from "../Componentes/UserProfile.svelte"
---

<Layout title="Bienvenido | Sportify">
    <div class="p-6 w-full">
        <div class="flex items-center mb-6 w-5/4 justify-center ">
            <!-- Foto de perfil del equipo a la izquierda -->
            <img src="ruta/a/foto_de_perfil"  class="w-20 h-20 rounded-full border-4 border-white shadow-md mr-4">
            <!-- Nombre del Equipo centrado con marco -->
            <h2 class="text-3xl font-bold text-center border-b-2  text-black dark:text-white pb-2 mb-4 flex-grow"><UserProfile client:only/></h2>
            <!-- Deporte a la derecha -->
            <button id="off" class="bg-green-500  text-white font-bold py-2 px-4 rounded">
                <p>mensaje</p>
            </button>
            
        </div>
        <!-- Descripción del torneo -->
       
        
            
        <p class="text-lg text-center mb-4  text-black dark:text-white">Descripción del jugador</p>
        <!-- Nombre del Staff en un rectángulo con foto pequeña a la izquierda -->
        <div class="flex items-center justify-end mb-4  ">
        
            <div class=" text-black bg-white p-2 rounded-lg">
                <p class="text-lg font-semibold">Rol</p>
                <p class="text-base">jugador</p>
            </div>
            
        </div>
    </div>
    
    <EnviarNotificacion client:only/>
</Layout>
<style>
    /* Agregar estilos personalizados aquí */
    .profile-image {
        border-radius: 50%;
        margin-right: 10px;
        width: 100px;
        height: 100px;
    }
    .role {
        text-decoration: underline;
    }
    .full-height {
        min-height: 100vh;
    }
</style>