---
import Layout from "../layouts/Visualizacion.astro"
---

<Layout title="Bienvenido | Sportify">
    <body>
        <h1>Bienvenido usuario</h1>
        <aside class="flex flex-col items-center gap-1 mt-2">
            <a href="/editData">
                Edita tus datos
            </a>
        </aside>
    </body>
</Layout>