---
import Layout from "../layouts/Visualizacion.astro"
import Notificacion from "../Componentes/Notificacion.svelte"
import EnviarNotificacion from "../Componentes/EnviarNotificacion.svelte"
import UserProfile from "../Componentes/UserProfile.svelte"
---

<Layout title="Bienvenido | Sportify">
    <body>
        <UserProfile client:only/>
        <EnviarNotificacion client:only />
    </body>
</Layout>